.ubaut-us-text {
  font-size: 23px;
  color: #1b414b;
}
.about-us-description {
  font-size: 13px;
  line-height: 1.15;
  color: #040306;
  opacity: 0.4;
}
border-radius: 24px;
width: 360px;
height: 268px;
