<<<<<<< HEAD
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  background-color: #0e1823;
}
a {
  text-decoration: none;
}
.sr-only {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}
ul,
ol {
  list-style-type: none;
}
=======
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  background-color: #0e1823;
}
a {
  text-decoration: none;
}
.sr-only {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}
ul,
ol {
  list-style-type: none;
}
>>>>>>> 3369135101cff7c3c3f4d394b88d8f5708ac6b35
